<p>
    <strong>Title:</strong>
    <%= @person.title %>
</p>
 
<p>
    <strong>Text:</strong>
    <%= @person.text %>
</p>

<%= link_to 'Edit', edit_people_path(@person) %> |
<%= link_to 'Back', people_path %>