<h1>Hello, Welcome to the website</h1>
<br /><br />
<h1>You can find a list of people that are in the database</h1>
<br /><br />
<p>Do note, this website suffers from an error when making new people or editing them</p>
<p>To solve this, click the back button on your browser to go back the the page, then click the back butt on the page to go back to index</p>

<%= link_to 'To People Index', controller: 'people' %>